@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  padding: 15px 0;
  background-color: black;
  border-bottom: 3px solid #32b9cd;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.titulo {
  color: #32b9cd;
  font-size: 14px;
}

.navegacao {
  width: 350px;
  color: #efb661;
}

.navegacao ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navegacao ul li {
  font-size: 1rem;
  cursor: pointer;
}

.agora {
  font-weight: bold;
}

.banner { 
   background-image: url(assets/img/bg-jelly-fish-para_outras_pags.png);
     background-size: cover;
     /* padding:100px 0; */
     padding-top: 100px;
     padding-bottom: 100px;
  
  
    }caixa img {
    width: 170px;
  }

  .banner .container {
   height: 350px;
   align-items: center;
    justify-content: center;
  }

  .banner p{
   color: #fff;
   font-size:  35px;
   width: 280px;
  }

  .social {
    margin: 50px ;
  }

  .social .caixas{
  display: flex;
  }
  
  .caixa img {
    width: 170px;
  }
  .caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
  }

  .caixas p {
   text-align: center;  
  }
  .caixa h4 {
    margin: 15px 0;
    color: #e6005a;
  }
  
  footer {
    background-color: #32b9cd;
    padding: 45px 0;
  }

  footer .container {
    justify-content: center;
   }

  footer p {
   color: white;
  }
